
<div class="ui-g">
    <div class="ui-g-8"><h1>Listado de Productos</h1></div>
    <div class="ui-g-4"><button pButton type="button" label="Primary" class="ui-button-raised"></button></div>
</div>

<div class="ui-g">
    <div class="ui-g-4">
            <span class="ui-float-label">
                    <input id="float-input" type="text" size="30" pInputText> 
                    <label for="float-input">Username</label>
            </span>
    </div>
    <div class="ui-g-4">
            <span class="ui-float-label">
                    <input id="float-input" type="text" size="30" pInputText> 
                    <label for="float-input">Username</label>
            </span>
    </div>
    <div class="ui-g-4">
            <span class="ui-float-label">
                    <input id="float-input" type="text" size="30" pInputText> 
                    <label for="float-input">Username</label>
            </span>
    </div>
</div>
